/*
 * ,adPPYYba,  ,adPPYba, 88  ,adPPYba,  88       88
 * ""     `Y8 a8P_____88 88 a8"     "8a 88       88
 * ,adPPPPP88 8PP""""""" 88 8b       d8 88       88
 * 88,    ,88 "8b,   ,aa 88 "8a,   ,a8" "8a,   ,a88
 * `"8bbdP"Y8  `"Ybbd8"' 88  `"YbbdP"'   `"YbbdP'Y8
 *         https://github.com/zlaxy/aeiou
 */

@import url(https://fonts.googleapis.com/earlyaccess/notosansugaritic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansrunic.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansgeorgian.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanshebrew.css);

/* http://www.oketz.com/fonts/yoavcursive.html */
@font-face {
    font-family: YOAVCB;
    src: local("YOAVCB"),
    url(fonts/yoavcursive/YOAVCB__.TTF);
}
/* http://www.1001fonts.com/als-script-font.html */
@font-face {
    font-family: alsscrp;
    src: local("alsscrp"),
    url(fonts/als-script/alsscrp.ttf);
}
/* https://www.fontsquirrel.com/fonts/VAG-HandWritten */
@font-face {
    font-family: VAGHandWritten;
    src: local("VAGHandWritten"),
    url("fonts/vag-handwritten/VAG-HandWritten.otf") format("opentype");
}

html {
    font-family: 'Open Sans', sans-serif;
}

.lower tr td button {
    text-transform: lowercase;
}

.upper tr td button {
    text-transform: uppercase;
}

.enhandwritten tr td button {
    font-family: 'alsscrp', cursive;
}

.ruhandwritten tr td button {
    font-family: 'Marck Script', cursive;
}

.handwritten tr td button {
    font-family: 'Bad Script', sans-serif; 
}

.hehandwritten tr td button {
    font-family: 'YOAVCB', cursive;
}

.grhandwritten tr td button {
    font-family: 'VAGHandWritten', cursive;
}

.hebrew tr td button {
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.georgian tr td button {
    font-family: 'Noto Sans Georgian', serif;
}

.abjadi tr td button {
    font-family: 'Mirza', cursive;
/*
 * @import url(https://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);
 *     font-family: 'Noto Sans Kufi Arabic', sans-serif;
 */
}

.runes tr td button {
    font-family: 'Noto Sans Runic', sans-serif;
}

.ugaritic tr td button {
    font-family: 'Noto Sans Ugaritic', sans-serif;
}

.default tr td button {
    font-family: 'Open Sans', sans-serif;
}

.abcdTable tr td button {
    font-size: 5vw;
    text-align: center;
    cursor: pointer;
    height: 5vw;
    background-color: transparent;
    border: 0vw solid;
    font-weight: 600;
}

.relative {
  position:relative;
}

button.controlButton {
    color: #555;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 2vw;
    height: 3vw;
    background-color: transparent;
    border-radius: 2vw;
    border: 0.1vw solid #bbb;
    cursor: pointer;
}

#hiddentextline {
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
}

.abj {
    max-width: 6vw;
    max-height: 5vw;
}

.modal {
    display: block; 
    position: absolute;
    /*margin: auto;*/
    z-index: 9; 
    padding: 1vw; 
    height: 6vw;
    margin-top: -8vw;
    margin-left: -2vw;
    padding-bottom: 3vw;
	border-radius: 1vw;
    overflow: visible;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

.modalimg {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;

    max-width: 180px;
    max-height: 180px;
}

#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: #999;
    font-size: 1vw;

    height: 9px;
}
